.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.alwaysOnTopCheckBtn {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}
.alwaysOnTopCheckBtn input {
  display: none;
  width: 24px;
  height: 24px;
}
.alwaysOnTopCheckBtn input:checked + label {
  color: dodgerblue;
}
