.main {
  padding: 10px;
}
.main header {
  height: 36px;
}
.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.addBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.alwaysOnTopCheckBtn {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}
.alwaysOnTopCheckBtn input {
  display: none;
  width: 24px;
  height: 24px;
}
.alwaysOnTopCheckBtn input:checked + label {
  color: dodgerblue;
}

.todoItem {
  position: relative;
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  background-color: #ffa500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.todoItem.done {
  background-color: #5fe280;
}
.todoItem input[type='checkbox'] {
  position: absolute;
  right: 15px;
}
.todoItem:hover {
  background-color: #fec252;
  cursor: pointer;
}
.todoItem.done:hover {
  background-color: #49ab61;
  cursor: pointer;
}
.todoItemDelBtn {
  position: absolute;
  top: -12px;
  right: -12px;
  display: inline-block;
  text-indent: -99999px;
  border: 0;
  outline: 0;
  background: url('/src/assets/cancel.png') 32px 32px no-repeat;
  width: 32px;
  height: 32px;
}
